<!DOCTYPE html>
<html>
<body>

    <h2>Login</h2>

    <form>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <label>Username</label>
        <input type="text" name="user"/>
        <label>Password</label>
        <input type="password" name="pass"/>

        <button type="submit">Log In</button>

        <p>Need to create an account?
            <a href="/register"><button type="button">Register</button></a>
        </p>
    </form>

</body>
</html>