<!DOCTYPE html>
<html>
<body>

    <h2>Register</h2>

    <form>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <label>Username</label>
        <input type="text" name="user"/>
        <label>Password</label>
        <input type="password" name="pass"/>

        <button type="submit">Register</button>

        <p>Already have an account?
            <a href="/login"><button type="button">Log In</button></a>
        </p>
    </form>

</body>
</html>